<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.selfmapper.LiRuiAdminMapper">

    <!--@author 李锐-->

    <select id="selectByExample" resultType="com.cskaoyan.mall.bean.Admin">
        SELECT id, username, avatar, role_ids roleIds FROM cskaoyan_mall_admin
        WHERE  deleted = false
        ORDER BY #{sort} #{order}
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectByUsername" resultType="com.cskaoyan.mall.bean.Admin">
        SELECT id, username, avatar, role_ids roleIds FROM cskaoyan_mall_admin
        WHERE username LIKE &quot;%${username}%&quot; and deleted = false
        ORDER BY #{sort} #{order}
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectAllRole" resultType="map">
        SELECT id value, name label FROM cskaoyan_mall_role where deleted = false
    </select>

    <select id="getAllLogList" resultType="com.cskaoyan.mall.bean.Log">
        SELECT id, admin, ip, type, action, status, result, comment, add_time addTime,
        update_time updateTime, deleted
         from cskaoyan_mall_log
        <where>
            <if test="name != null and name != ''">
                admin like &quot;%${name}%&quot;
            </if>
        </where>
        ORDER BY #{sort} #{order}
        LIMIT #{offset}, #{limit}

    </select>

    <insert id="insertStorge">
    insert into cskaoyan_mall_storage (`key`, `name`,
      `type`, `size`, `url`, `add_time`,
      `update_time`, `deleted`)
    values (
    #{key}, #{name},
      #{type}, #{size}, #{url}, #{addTime},
      #{updateTime}, #{deleted})
  </insert>

    <select id="selectStorgeId" resultType="int">
        select max(id) from cskaoyan_mall_storage where
        url = #{url} and deleted = false
    </select>

    <insert id="addAdmin">
    insert into cskaoyan_mall_admin (username, password,
      last_login_ip, last_login_time, avatar,
      add_time, update_time, deleted,
      role_ids)
    values (#{username}, #{password},
      #{lastLoginIp}, #{lastLoginTime}, #{avatar},
      #{addTime}, #{updateTime}, #{deleted},
      #{strRoleIds})
  </insert>

    <select id="selectAdminId" resultType="int">
        select max(id) from cskaoyan_mall_admin where
        username = #{username} and deleted = false
    </select>

    <insert id="addRole">
        insert into cskaoyan_mall_role (`desc`, name, add_time, update_time) values
        (#{desc}, #{name}, #{addTime}, #{updateTime})
    </insert>

    <select id="selectRoleId" resultType="int">
        select max(id) from cskaoyan_mall_role where
        name = #{name} and deleted = false
    </select>

    <update id="updateAdminByPrimaryKey">
      update cskaoyan_mall_admin
      set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      role_ids = #{strRoleIds}
      where id = #{id,jdbcType=INTEGER} and deleted = false
    </update>

    <select id="selectAdminVoById" resultType="com.cskaoyan.mall.bean.Admin">
        select * from cskaoyan_mall_admin where id = #{id} and deleted = false
    </select>

    <update id="updateRoleByPrimaryKey">
        update cskaoyan_mall_role
        set name = #{name},
        `desc` = #{desc}
        where id = #{id} and deleted = false
    </update>

    <select id="selectRoleById" resultType="com.cskaoyan.mall.bean.Role">
        select * from cskaoyan_mall_role where id = #{id} and deleted = false
    </select>

    <select id="selectRoleList" resultType="com.cskaoyan.mall.bean.Role">
        SELECT * from cskaoyan_mall_role
        <where>
            <if test="name != null and name != ''">
                name like &quot;%${name}%&quot;
            </if>
        </where>
        ORDER BY #{param3} #{param4}
        LIMIT #{param1}, #{param2}
    </select>

    <!--对象存储-->
    <select id="getStorageList" resultType="java.util.Map">
        SELECT * from cskaoyan_mall_storage
        <where>
            <trim prefixOverrides="and">
                <if test="name != null and name != ''">
                    name like &quot;%${name}%&quot;
                </if>
                <if test="key != null and key != ''">
                    and `key` like &quot;%${key}%&quot;
                </if>
                and deleted = false
            </trim>
        </where>
        ORDER BY #{sort} #{order}
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectPermissionByRoleId" resultType="string">
        select permission from cskaoyan_mall_permission where
        role_id = #{roleId} and deleted = false
    </select>
</mapper>
