<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.selfmapper.MyUserMapper">

    <!--author 李锐-->
    <select id="queryRoleIdsByUsername" resultType="int">
        select role_ids roleIds from cskaoyan_mall_admin where username = #{username} limit 0, 1
    </select>

    <select id="queryRoleIdVoByUsername" resultType="com.cskaoyan.mall.vo.RoleIdVo">
        select role_ids roleIds from cskaoyan_mall_admin where username = #{username} limit 0, 1
    </select>

    <select id="getWxUserInfo" resultType="map">
        select avatar avatarUrl, nickname nickName from cskaoyan_mall_user
        where username = #{username} and deleted = false
        limit 0, 1
    </select>
</mapper>
