<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.wechat.AddressWxMapper">
    <!--
    <resultMap id="addressDetailWx" type="com.cskaoyan.mall.bean.wxfbean.AddressDetailWx">
        <result column="id" property="id"/>
        <result column="address" property="address"/>
        <result column="areaId" property="areaId"/>
        <association property="areaName" column="areaName"  select=""/>
        <result column="cityId" property="cityId"/>
        <association property="cityName" column="cityName" select=""/>
        <result column="privinceId" property="provinceId"/>
        <association property="provinceName" column="provinceName" select=""/>
        <result column="isDefault" property="isDefault"/>
        <result column="mobile" property="mobile"/>
        <result property="name" column="name"/>
    </resultMap>
    -->

    <select id="selectLastId" resultType="com.cskaoyan.mall.bean.Address">
        select * from cskaoyan_mall_address where id = last_insert_id()
    </select>
    <update id="updateIsDefault" >
        update  cskaoyan_mall_address set is_default = #{isDefault} where id = #{id}
    </update>
    <resultMap id="addressResultMap" type="com.cskaoyan.mall.bean.Address">
        <id column="id"  property="id" />
        <result column="name" property="name" />
        <result column="user_id"  property="userId" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="area_id"  property="areaId" />
        <result column="address"  property="address" />
        <result column="mobile" property="mobile" />
        <result column="is_default" property="isDefault" />
        <result column="add_time"  property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted"  property="deleted" />
    </resultMap>
    <sql id="addressInfoSql">
        id, `name`,user_id, province_id, city_id, area_id, address, mobile, is_default, add_time, update_time, deleted
    </sql>
    <select id="queryAllAddress" resultMap="addressResultMap">
        select <include refid="addressInfoSql"/> from cskaoyan_mall_address where user_id = #{userId}
    </select>
    <update id="updateAddress">
        update cskaoyan_mall_address set `name` = #{name},
        province_id = #{provinceId}, city_id = #{cityId},update_time = #{updateTime},
        area_id = #{areaId}, address = #{address}, mobile = #{mobile}, is_default=#{isDefault}
        where id = #{id}
    </update>

    <insert id="insertAddress">
        insert into cskaoyan_mall_address
        (user_id, area_id, city_id, is_default, `mobile`, `name`, province_id, add_time, update_time)
        values
        (#{userId}, #{areaId}, #{cityId}, #{isDefault}, #{mobile}, #{name}, #{provinceId},
         #{addTime}, #{updateTime})
    </insert>
</mapper>